<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="navbar-link" routerLink="/libros" routerLinkActive="active">Libros</a>
        <a class="navbar-link" routerLink="/recomendados" routerLinkActive="active">Recomendados</a>
        <a class="navbar-link" routerLink="/gestionlibros" routerLinkActive="active">Gestión Libros</a>
        <a class="navbar-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="navbar-link" routerLink="/registro" routerLinkActive="active">Registro</a>

    </div>
</nav>
