body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/librerias-madrid-jpg-65bb94c9b4b6b.jpg');
    background-size: cover;
    background-position: center;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-form .logo {
    width: 100px;
    margin-bottom: 20px;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #004494;
}